Imbalance Dataset Handling

1.Upsampling

2.Downsampling

In [2]:
import numpy as np 
import pandas as pd

In [3]:
#set the random seed for reproductivity
np.random.seed(123)
#create a dataframe with two classes
n_samples=1000
class_0_ratio=0.9
n_class_0=int(n_samples*class_0_ratio)
n_class_1=n_samples-n_class_0

In [4]:
n_class_0,n_class_1

(900, 100)

In [6]:
class_0=pd.DataFrame({'feature_1':np.random.normal(loc=0,scale=1,size=n_class_0),
                      'feature_2':np.random.normal(loc=0,scale=1,size=n_class_0),
                     'target':[0]*n_class_0
                     })
class_1=pd.DataFrame({'feature_1':np.random.normal(loc=2,scale=1,size=n_class_1),
                     'feature_2':np.random.normal(loc=2,scale=1,size=n_class_1),
                     'target':[1]*n_class_1
                     })

In [12]:
df=pd.concat([class_0,class_1]).reset_index(drop=True)

In [13]:
df.head()

   feature_1  feature_2  target
0  -1.774224   0.285744       0
1  -1.201377   0.333279       0
2   1.096257   0.531807       0
3   0.861037  -0.354766       0
4  -1.520367  -1.120815       0

In [14]:
df['target'].value_counts()

0    900
1    100
Name: target, dtype: int64

#upsampling

In [16]:
df_minortity=df[df['target']==1]
df_majority=df[df['target']==0]

In [20]:
df_minortity.head()

     feature_1  feature_2  target
900  -0.643425   2.571923       1
901   1.551009   1.782767       1
902   1.641093   2.054318       1
903   2.133194   2.155998       1
904   1.355758   2.467810       1

In [19]:
df_majority.head()

   feature_1  feature_2  target
0  -1.774224   0.285744       0
1  -1.201377   0.333279       0
2   1.096257   0.531807       0
3   0.861037  -0.354766       0
4  -1.520367  -1.120815       0

In [21]:
#upsampling perform
from sklearn.utils import resample

In [23]:
df_minortity_upsample=resample(df_minortity,
                              replace=True,##sample with replacemt
                              n_samples=len(df_majority),
                              random_state=45)

In [25]:
df_minortity_upsample.shape

(900, 3)

In [26]:
df_minortity_upsample['target'].value_counts()

1    900
Name: target, dtype: int64

In [27]:
df_upsampled = pd.concat([df_majority,df_minortity_upsample])

In [28]:
df_upsampled['target'].value_counts()

0    900
1    900
Name: target, dtype: int64

In [29]:
df_upsampled

     feature_1  feature_2  target
0    -1.774224   0.285744       0
1    -1.201377   0.333279       0
2     1.096257   0.531807       0
3     0.861037  -0.354766       0
4    -1.520367  -1.120815       0
..         ...        ...     ...
965   1.527330   2.182477       1
925   1.047646   2.390473       1
919   2.192494   1.422683       1
911   1.588441   0.065134       1
998   3.429559   3.794486       1

[1800 rows x 3 columns]

In [30]:
df_upsampled.shape

(1800, 3)

##Down sampilng

In [31]:
#set the random seed for reproductivity
np.random.seed(123)
#create a dataframe with two classes
n_samples=1000
class_0_ratio=0.9
n_class_0=int(n_samples*class_0_ratio)
n_class_1=n_samples-n_class_0

In [32]:
n_class_0,n_class_1

(900, 100)

In [33]:
class_0=pd.DataFrame({'feature1':np.random.normal(loc=0,scale=1,size=n_class_0),
                     'feature2':np.random.normal(loc=0,scale=1,size=n_class_0),
                     'target':[0]*n_class_0
                     })
class_1=pd.DataFrame({'feature1':np.random.normal(loc=2,scale=1,size=n_class_1),
                     'feature2':np.random.normal(loc=2,scale=1,size=n_class_1),
                     'target':[1]*n_class_1
                     })

In [34]:
df=pd.concat([class_0,class_1]).reset_index(drop=True)

In [37]:
df.head()

   feature1  feature2  target
0 -1.085631  0.551302       0
1  0.997345  0.419589       0
2  0.282978  1.815652       0
3 -1.506295 -0.252750       0
4 -0.578600 -0.292004       0

In [38]:
df_minortity=df[df['target']==1]
df_majority=df[df['target']==0]

In [39]:
df_minortity.head()

     feature1  feature2  target
900  1.699768  2.139033       1
901  1.367739  2.025577       1
902  1.795683  1.803557       1
903  2.213696  3.312255       1
904  3.033878  3.187417       1

In [40]:
df_majority.head()

   feature1  feature2  target
0 -1.085631  0.551302       0
1  0.997345  0.419589       0
2  0.282978  1.815652       0
3 -1.506295 -0.252750       0
4 -0.578600 -0.292004       0

In [41]:
#Downsample performs

In [43]:
from sklearn.utils import resample

In [44]:
df_majority_Downsample=resample(df_majority,
                              replace=True,##sample with replacemt
                              n_samples=len(df_minortity),
                              random_state=45)

In [45]:
df_majority_Downsample.shape

(100, 3)

In [46]:
df_majority_Downsample['target'].value_counts()

0    100
Name: target, dtype: int64

In [47]:
df_Downsampled = pd.concat([df_minortity,df_majority_Downsample])

In [48]:
df_Downsampled['target'].value_counts()

1    100
0    100
Name: target, dtype: int64

In [49]:
df_Downsampled

     feature1  feature2  target
900  1.699768  2.139033       1
901  1.367739  2.025577       1
902  1.795683  1.803557       1
903  2.213696  3.312255       1
904  3.033878  3.187417       1
..        ...       ...     ...
27  -1.428681  0.247284       0
786 -0.692583 -0.052776       0
599 -1.273570  1.752910       0
439  0.310123 -0.068100       0
788 -1.158416  1.284221       0

[200 rows x 3 columns]

In [50]:
df_Downsampled.shape

(200, 3)